---
import Layout from "../layouts/Layout.astro";

// Components
import Hero from "../components/Landing/Hero.astro";
import More from "../components/Landing/More.astro";
import Features from "../components/Landing/Features.astro";
import Projects from "../components/Landing/Projects.astro";
import About from "../components/Landing/About.astro";
---

<Layout title="Bienvenidos a mi sitio">
  <main>
    <Hero />
    <More />
    <Features />
    <About />
    <Projects />
  </main>
</Layout>
